# ---- CONFIGURAÇÕES DO SERVIDOR ----
PORT=5000
JWT_SECRET=uma_string_aleatoria_para_o_token_jwt

# ---- CONFIGURAÇÕES DA BASE DE DADOS (POSTGRESQL) ----
# Se o usar o Neon, colocar o link do host
# Se usar o PostgreSQL local (pgAdmin), colocar 127.0.0.1 ou localhost.
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=a_password_do_pgadmin
DB_NAME=cyberboxfinal

# ---- CONFIGURAÇÕES DE EMAIL (MAILTRAP) ----
# Credenciais da Sandbox do Mailtrap para intercetar os emails de ativação
EMAIL_USER=user_do_mailtrap
EMAIL_PASS=pass_do_mailtrap

# ---- CONFIGURAÇÕES DO FRONTEND ----
# URL onde o React vai correr localmente para o CORS autorizar a ligação
FRONTEND_URL=http://localhost:5173