PORT=5000
DB_HOST=ep-misty-hall-ald8b0ag.c-3.eu-central-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=password_here
DB_NAME=neondb
JWT_SECRET=SECRET_KEY_HERE


EMAIL_USER=USER_MAILTRAP
EMAIL_PASS=PW_MAIL_TRAPs